:host {
  .simple-view-element {
    margin-bottom: 15px;
  }

  .simple-view-element-inline {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    line-height: 1.4;
  }

  .simple-view-element-label {
    font-weight: 700;
    margin-right: 0.25rem;
    color: #343a40;
  }


}
