<footer class="serna-footer">
  <div class="container serna-footer__top">
    <img
      src="assets/dspace/images/brand-sernageomin-footer.png"
      alt="SERNAGEOMIN"
      class="serna-footer__brand"
    />

    <div class="serna-footer__cols">
      
      <div class="serna-footer__col">
        <h4>Enlaces</h4>
        <ul>
          <li><a target="_blank" href="https://catalogobiblioteca.sernageomin.cl/">Biblioteca SERNAGEOMIN</a></li>
          <li><a target="_blank" href="https://repositorio.uchile.cl/">Repositorio UCHILE</a></li>
          <li><a target="_blank" href="https://repositorio.anid.cl/home">Repositorio ANID</a></li>
          <li><a target="_blank" href="http://repositoriodigital.corfo.cl/">Repositorio CORFO</a></li>
          <li><a target="_blank" href="http://repositorio.udec.cl/xmlui/handle/11594/149">Repositorio UDEC</a></li>
        </ul>
      </div>

      <div class="serna-footer__col">
        <h4>&nbsp;</h4>
        <ul>
          <li><a target="_blank" href="https://repositoriodirplan.mop.gob.cl/biblioteca/communities/fea2c38d-77c4-4846-8bbb-7d325aa99d78">Repositorio DGA</a></li>
          <li><a target="_blank" href="https://bibliogrd.senapred.gob.cl/">Repositorio SENAPRED</a></li>
          <li><a target="_blank" href="http://bibliotecadigital.ciren.cl/">Repositorio CIREN</a></li>
          <li><a target="_blank" href="https://repositorio.ingemmet.gob.pe/">Repositorio INGEMMET</a></li>
          <li><a target="_blank" href="https://repositorio.segemar.gov.ar/">Repositorio SEGEMAR</a></li>
        </ul>
      </div>

      <div class="serna-footer__col">
        <h4>Sitios</h4>
        <ul>
          <li><a target="_blank" href="http://www.andeangeology.cl">Andean Geology</a></li>
          <li><a target="_blank" href="https://www.cochilco.cl">COCHILCO</a></li>
          <li><a target="_blank" href="https://www.igm.cl/">IGM</a></li>
          <li><a target="_blank" href="https://www.minmineria.cl">Ministerio de Minería</a></li>
          <li><a target="_blank" href="http://www.shoa.cl">SHOA</a></li>
        </ul>
      </div>

      <div class="serna-footer__col serna-footer__contact">
        <strong>Servicio Nacional de Geología y Minería</strong>
        <ul>
          <li><a href="tel:+56224825515">+56 22 4825515</a></li>
          <li><a href="tel:+56224825530">+56 22 4825530</a></li>
          <li><a href="mailto:biblioteca@sernageomin.cl?subject=Repositorio%20Digital">biblioteca&#64;sernageomin.cl</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="serna-footer__bottom">
    <div class="container serna-footer__bottom__row">
      <p>
        © {{ currentYear }} Servicio Nacional de Geología y Minería | Av. Santa María 0104 – Providencia, Santiago – Chile
      </p>
      <a class="serna-footer__admin" href="/login">Administración</a>
    </div>
  </div>
</footer>
