<ng-container *ngVar="(itemRD$ | async) as itemRD">
  <div class="mt-4" [ngClass]="placeholderFontClass" *ngIf="itemRD?.hasSucceeded && itemRD?.payload?.page.length > 0" @fadeIn>
  
    <h2 class="o-title"> {{'home.recent-submissions.head' | translate}}</h2>

    <div class="recent-carousel-wrapper">
      <div class="recent-carousel" #carousel>
        <div
          class="recent-slide"
          *ngFor="let item of itemRD?.payload?.page"
        >
          <a class="c-slider__item" [routerLink]="['/items', item.id]">
            <div class="c-slider__layer">
              <p class="c-slider__title">{{item._name}}</p>
            </div>
            <ds-thumbnail 
              [thumbnail]="item?.thumbnail | async" 
              [limitWidth]="true"
              [ngClass]="'c-slider__image'">
            </ds-thumbnail>
          </a>
        </div>
      </div>
    </div>

    <!--<button (click)="onLoadMore()" class="btn btn-primary search-button mt-4" role="link" tabindex="0">
      {{'vocabulary-treeview.load-more' | translate }} ...
    </button>-->
  </div>
  <ds-error *ngIf="itemRD?.hasFailed" message="{{'error.recent-submissions' | translate}}"></ds-error>
  <ds-loading *ngIf="!itemRD || itemRD.isLoading" message="{{'loading.recent-submissions' | translate}}">
  </ds-loading>
</ng-container>
