<div class="container">
    <div class="row js-canvas termcondic">

        <style>
            .termcondic ul {
             width: 100%; 
             margin-left: 20px;
         }
         .termcondic p {
             width: 100%;
         }
     </style>

     <p><strong>CONDICIONES DE USO DEL REPOSITORIO DIGITAL DE SERNAGEOMIN</strong></p>
     <p>El Servicio Nacional de Geolog&iacute;a y Miner&iacute;a (SERNAGEOMIN), pone a disposici&oacute;n de la comunidad nacional e internacional su Repositorio Digital <a href="https://repositorio.sernageomin.cl">https://repositorio.sernageomin.cl</a>&nbsp;sitio oficial y de propiedad de esta instituci&oacute;n.</p>
     <p>La Biblioteca institucional es la unidad a cargo y prestadora de los servicios que se ofrecen en esta plataforma.</p>
     <p>El usuario que haga uso de ella acepta las condiciones de uso establecidas en este documento.</p>
     <p>Los usuarios pueden utilizar libremente los contenidos y servicios del Repositorio Digital.</p>
     <p>&nbsp;</p>
     <p><strong><strong>Propiedad intelectual y licencias</strong></strong></p>
     <p>El Servicio Nacional de Geolog&iacute;a y Miner&iacute;a es titular de los derechos de autor del material contenido en el Repositorio Digital, generado por el ex - Instituto de Investigaciones Geol&oacute;gicas (IIG) &nbsp;y el Servicio Nacional de Geolog&iacute;a y Miner&iacute;a (SERNAGEOMIN). &nbsp;</p>
     <p>Los documentos contenidos en el Repositorio est&aacute;n protegidos por la Ley de Propiedad Intelectual N&deg;17.336 (1970), &uacute;ltima versi&oacute;n (3-nov-2017), por tanto, al hacer uso de esta fuente se solicita sea citada como se indica. <a href="https://www.leychile.cl/Navegar?idNorma=28933" target="_">https://www.leychile.cl/Navegar?idNorma=28933</a></p>
     <p>La licencia del sitio est&aacute; bajo Creative Commons BY-NC-ND [Reconocimiento &ndash; No Comercial &ndash; Sin Derivadas]. &nbsp;(URL: <a href="https://creativecommons.cl/">https://creativecommons.cl/</a>)</p>
     <p>&nbsp;</p>
     <p><strong><strong>General</strong></strong></p>
     <p>El SERNAGEOMIN se reserva el derecho exclusivo de modificar, alterar, limitar o cancelar el Repositorio Digital y cualquier material que contenga. En caso de consultas, favor contactar a:&nbsp; <a href="mailto:biblioteca&#64;sernageomin.cl">biblioteca&#64;sernageomin.cl</a></p>
     <p>&nbsp;</p>
     <p><strong><strong>Uso del material bibliogr&aacute;fico</strong></strong></p>
     <p>El SERNAGEOMIN adhiere al movimiento OAI (Movimiento de Acceso Abierto) que en su Declaraci&oacute;n de Budapest (2002), define al acceso abierto a la literatura cient&iacute;fica (<a href="http://www.budapestopenaccessinitiative.org/translations/spanish-translation" target="_">http://www.budapestopenaccessinitiative.org/translations/spanish-translation</a>)</p>
     <p>&nbsp;</p>
     <p><strong><strong>Condiciones de uso:</strong></strong></p>
     <p>El material bibliogr&aacute;fico que constituye el Repositorio Digital es de libre acceso y descarga.</p>
     <p>El contenido es de uso personal y privado, o con fines acad&eacute;micos, pedag&oacute;gicos y de investigaci&oacute;n.</p>
     <p>Queda estrictamente prohibido el uso comercial del material del Repositorio.</p>
     <p>Se proh&iacute;be la modificaci&oacute;n y alteraci&oacute;n de cualquier contenido del Repositorio, con la finalidad de crear una nueva obra.</p>
     <p>SERNAGEOMIN, actualiza y/o modifica peri&oacute;dicamente el material bibliogr&aacute;fico del Repositorio sin previo aviso.</p>
     <p>&nbsp;</p>
     <p><strong><strong>V&iacute;nculos a sitios de terceros</strong></strong></p>
     <p>SERNAGEOMIN solicita que la difusi&oacute;n del material digital presentado en su Repositorio se realice a trav&eacute;s de un enlace directo a la p&aacute;gina web del Repositorio Digital, anotar direcci&oacute;n URL, en vez de que este material sea descargado a trav&eacute;s de sitios de terceros.</p>
     <p>&nbsp;</p>
     <p><strong><strong>Citas o Referencias</strong></strong></p>
     <p>Para citar o referenciar los enlaces de los documentos de SERNAGEOMIN, utilice el enlace permanente o URI persistente que se indica en la ficha descriptiva del documento.</p>
 </div>
</div>