<!-- HERO rotatorio - CSS only  
 
 -->
<section class="serna-hero">
  <div class="serna-slides">
    <div class="serna-slide" style="background-image:url('/assets/dspace/images/jumbotron-slide-01.jpg')"></div>
    <div class="serna-slide" style="background-image:url('/assets/dspace/images/jumbotron-slide-02.jpg')"></div>
    <div class="serna-slide" style="background-image:url('/assets/dspace/images/jumbotron-slide-03.jpg')"></div>
    <div class="serna-slide" style="background-image:url('/assets/dspace/images/jumbotron-slide-04.jpg')"></div>
  </div>

  <div class="serna-hero__inner container">
    <a class="serna-brand" href="https://www.sernageomin.cl/" target="_blank" rel="noopener">
      <img src="assets/dspace/images/brand-sernageomin.png" alt="Logotipo Sernageomin"/>
    </a>
    <div class="serna-hero__center">
      <a href="/home"><h1>REPOSITORIO DIGITAL SERNAGEOMIN</h1></a>
      <p>Conocimiento geológico y minero al servicio del desarrollo nacional</p>
      <ds-themed-search-navbar-custom></ds-themed-search-navbar-custom>
    </div>
  </div>
</section>