<div class="container">
    <div class="row js-canvas termcondic">

<style>
    .termcondic ul {
       width: 100%; 
       margin-left: 20px;
    }
    .termcondic p {
       width: 100%;
    }
</style>

        <p><strong>ACERCA DEL REPOSITORIO DIGITAL DE SERNAGEOMIN</strong></p>
        <p>El Repositorio Digital del Servicio Nacional de Geolog&iacute;a y Miner&iacute;a es una plataforma de servicios que ofrece acceso p&uacute;blico a los recursos de informaci&oacute;n pertenecientes a las colecciones bibliogr&aacute;ficas producidas tanto del ex- Instituto de Investigaciones Geol&oacute;gicas (IIG) como del Servicio Nacional de Geolog&iacute;a y Miner&iacute;a (SERNAGEOMIN).</p>
        <p>El Repositorio recopila, archiva, preserva y difunde, en acceso abierto, la informaci&oacute;n cient&iacute;fica, t&eacute;cnica y de divulgaci&oacute;n de SERNAGEOMIN, considerando las diferentes publicaciones e informes t&eacute;cnicos in&eacute;ditos generados por la instituci&oacute;n, adem&aacute;s de los art&iacute;culos de Actas de Congresos del &aacute;rea de Geolog&iacute;a y Miner&iacute;a.</p>
        <p>El proyecto Repositorio Digital est&aacute; alineado con la misi&oacute;n institucional de &ldquo;...<em><em>generar, mantener y difundir informaci&oacute;n de geolog&iacute;a b&aacute;sica y de recursos y peligros geol&oacute;gicos del territorio nacional, para el bienestar de la comunidad y al servicio del pa&iacute;s.</em></em>..&rdquo;</p>
        <p>De acuerdo con la tendencia internacional de &ldquo;Open Access&rdquo; (Acceso Abierto), esta plataforma pone a disposici&oacute;n de los organismos p&uacute;blicos, de las universidades y centros de investigaci&oacute;n y ense&ntilde;anza del sector productivo y de la comunidad en general, informaci&oacute;n especializada en el &aacute;rea de las Ciencias de la Tierra en formato digital.</p>
        <p>&nbsp;</p>
        <p><strong><strong>Objetivos del Repositorio:</strong></strong></p>
        <ul>
            <li>Disponer de un portal de contenidos digitales que entregue informaci&oacute;n t&eacute;cnica especializada.</li>
            <li>Favorecer la gesti&oacute;n del conocimiento.</li>
            <li>Incrementar el valor del servicio p&uacute;blico.</li>
            <li>Maximizar la visibilidad y el uso e impacto de la producci&oacute;n de informaci&oacute;n en el &aacute;rea de las ciencias de la tierra.</li>
            <li>Facilitar la transferencia de conocimientos a los sectores p&uacute;blico, cient&iacute;fico, acad&eacute;mico y productivo.</li>
            <li>Preservar la memoria y el patrimonio de la informaci&oacute;n generada por mandato legal.</li>
        </ul>
        <p>&nbsp;</p>
        <p><strong><strong>Pol&iacute;tica de Contenidos</strong></strong></p>
        <p>El Repositorio incluye informaci&oacute;n bibliogr&aacute;fica generada en el Servicio, con el fin de ponerla a disposici&oacute;n de los usuarios y de preservarla para su utilizaci&oacute;n futura. Para ello, los contenidos se archivan en comunidades, colecciones y subcolecciones bajo las &aacute;reas de trabajo de Geolog&iacute;a, Miner&iacute;a y Difusi&oacute;n.</p>
        <p>&nbsp;</p>
        <p><strong><strong>Tipolog&iacute;a Documental</strong></strong></p>
        <p>Incluye la informaci&oacute;n cient&iacute;fica, t&eacute;cnica y de divulgaci&oacute;n de SERNAGEOMIN, considerando las diferentes series y documentos publicados e in&eacute;ditos generados en diversos formatos por las unidades institucionales.</p>
        <p>&nbsp;</p>
        <p><strong><strong>Pol&iacute;tica de Metadatos:</strong></strong></p>
        <p>El esquema de metadatos que se utiliza para describir, recuperar y preservar los objetos digitales es el est&aacute;ndar Dublin Core Metadata Initiative (DCMI), que permite que el Repositorio sea interoperable. El acceso a estos metadatos es libre y gratuito, y ellos pueden ser reutilizados bajo la condici&oacute;n de mantener el identificador URI persistente al registro original de metadatos disponibles y de citar la fuente cuando sea preciso.</p>
        <p>&nbsp;</p>
        <p><strong><strong>Pol&iacute;tica de Preservaci&oacute;n</strong></strong></p>
        <p>Uno de los objetivos del Repositorio Digital es la preservaci&oacute;n de los objetos digitales archivados, por lo que se realizar&aacute;n las acciones necesarias para garantizar su conservaci&oacute;n, respaldo y perdurabilidad, de acuerdo con las pol&iacute;ticas institucionales de seguridad de la informaci&oacute;n.</p>
        <p>&nbsp;</p>
        <p><strong><strong>Pol&iacute;tica de Servicios</strong></strong></p>
        <p>Acceso a los contenidos digitales mediante diversas interfaces de b&uacute;squedas y navegaci&oacute;n.</p>
        <p>Descarga de archivos (texto completo de los documentos).</p>
        <p>Dispone de las secciones &ldquo;Novedades&rdquo;.</p>
        <p>Compartir informaci&oacute;n mediante redes sociales: Facebook, Twitter y Linkedin.</p>


    </div>
</div>